{% extends 'base.html' %}
{% load static %}
{% block main_content %}

<div class="relative isolate overflow-hidden bg-black px-6 py-24 sm:py-32 lg:overflow-visible lg:px-0 fade-in">
    <div class="absolute inset-0 -z-10 overflow-hidden slide-in">
        <svg class="absolute left-[max(50%,25rem)] top-0 h-[64rem] w-[128rem] -translate-x-1/2 stroke-gray-200 [mask-image:radial-gradient(64rem_64rem_at_top,white,transparent)]" aria-hidden="true">
            <defs>
                <pattern id="e813992c-7d03-4cc4-a2bd-151760b470a0" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
                    <path d="M100 200V.5M.5 .5H200" fill="none"/>
                </pattern>
            </defs>
            <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
                <path d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z" stroke-width="0"/>
            </svg>
            <rect width="100%" height="100%" stroke-width="0" fill="url(#e813992c-7d03-4cc4-a2bd-151760b470a0)"/>
        </svg>
    </div>
    <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start lg:gap-y-10">
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-1 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8 slide-in">
            <div class="lg:pr-4">
                <div class="lg:max-w-lg">
                    <p class="text-base font-semibold leading-7 text-indigo-600">О компании</p>
                    <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-100 sm:text-4xl">Беркут</h1>
                </div>
            </div>
        </div>
        <div class="-ml-12 -mt-12 p-12 lg:sticky lg:top-4 lg:col-start-2 lg:row-span-2 lg:row-start-1 lg:overflow-hidden slide-in">
        </div>
        <div class="lg:col-span-2 lg:col-start-1 lg:row-start-2 lg:mx-auto lg:grid lg:w-full lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8 slide-in">
            <div class="lg:pr-4">
                <div class="max-w-xl text-base leading-7 text-gray-100 lg:max-w-lg">
                    <p>"ОКО"БЕРКУТ" - компания, действующая с 20.01.2005 года, с уставным капиталом 250 тыс. ₽. Занимается деятельностью по обеспечению безопасности и проведению расследований. В 2022 году компания продемонстрировала стабильный финансовый рост, с балансом в размере 7,32 млн ₽ и чистой прибылью 3,24 млн ₽.</p>
                    <ul role="list" class="mt-8 space-y-8 text-gray-100">
                        <li class="flex gap-x-3">
                            <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.5 17a4.5 4.5 0 01-1.44-8.765 4.5 4.5 0 018.302-3.046 3.5 3.5 0 014.504 4.272A4 4 0 0115 17H5.5zm3.75-2.75a.75.75 0 001.5 0V9.66l1.95 2.1a.75.75 0 101.1-1.02l-3.25-3.5a.75.75 0 00-1.1 0l-3.25 3.5a.75.75 0 101.1 1.02l1.95-2.1v4.59z" clip-rule="evenodd"/>
                            </svg>
                            <span><strong class="font-semibold text-gray-200">Госконтракты:</strong> активно участвовала в государственных контрактах, заключив 99 сделок на общую сумму 61,99 миллионов рублей. В рамках данных контрактов организация предоставляла различные услуги или товары государственным заказчикам.</span>
                        </li>
                        <li class="flex gap-x-3">
                            <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z" clip-rule="evenodd"/>
                            </svg>
                            <span><strong class="font-semibold text-gray-200">Малое предприятие.</strong> Организация является малым предприятием с 49 сотрудниками (на 2022 год). Средняя зарплата составила 14 207 ₽. Компания включена в реестр МСП и прошла регистрацию в налоговом органе №16 по Республике Татарстан.</span>
                        </li>
                        <li class="flex gap-x-3">
                            <svg class="mt-1 h-5 w-5 flex-none text-indigo-600" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path d="M4.632 3.533A2 2 0 016.577 2h6.846a2 2 0 011.945 1.533l1.976 8.234A3.489 3.489 0 0016 11.5H4c-.476 0-.93.095-1.344.267l1.976-8.234z"/>
                                <path fill-rule="evenodd" d="M4 13a2 2 0 100 4h12a2 2 0 100-4H4zm11.24 2a.75.75 0 01.75-.75H16a.75.75 0 01.75.75v.01a.75.75 0 01-.75.75h-.01a.75.75 0 01-.75-.75V15zm-2.25-.75a.75.75 0 00-.75.75v.01c0 .414.336.75.75.75H13a.75.75 0 00.75-.75V15a.75.75 0 00-.75-.75h-.01z" clip-rule="evenodd"/>
                            </svg>
                            <span><strong class="font-semibold text-gray-200">Финансы</strong> С финансовой точки зрения, компания продемонстрировала стабильный рост, с балансом в 7,32 млн ₽ и чистой прибылью 3,24 млн ₽ в 2022 году.</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes slideIn {
        from {
            transform: translateY(20px);
            opacity: 0;
        }
        to {
            transform: translateY(0);
            opacity: 1;
        }
    }

    .fade-in {
        animation: fadeIn 2s ease-in-out;
    }

    .slide-in {
        animation: slideIn 1s ease-out;
    }

    .chart-appear {
        animation: fadeIn 1s ease-in-out forwards;
    }
</style>

<!-- Include amCharts library -->
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
<script src="https://cdn.amcharts.com/lib/5/locales/ru_RU.js"></script>
<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>

<!-- Your amCharts script -->
<style>
    #main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #chart-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
        padding: 20px;
        margin-bottom: 20px;
    }

    #chartdiv {
        width: 80%;
        height: 500px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    }

    #chart-description {
        width: 20%;
        padding: 20px;
        background-color: #f0f0f0;
        border-radius: 8px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
        margin-right: 20px;
    }

    #chart-title {
        margin-bottom: 20px;
        font-size: 24px;
    }

    #chart-description h3 {
        margin-bottom: 10px;
        color: #333;
    }
</style>
<div id="main-container">
 <h2 id="chart-title" class="text-white mt-5">Статистика оформленных заявок по месяцам</h2>
    <div id="chart-container" class="w-full bg-white p-8 rounded-lg shadow-lg">
        <div id="chart-description" class="text-gray-600">
            <p>Этот график отображает динамику оформления заявок в течение года. Он представлен в виде столбчатой диаграммы, где по оси X отображаются месяцы, а по оси Y количество оформленных заявок. Анализируя эту динамику, мы можем выявить тренды и сезонные колебания в количестве заявок, что помогает нам принимать более обоснованные решения для оптимизации процесса обработки заявок.</p>

        </div>
        <div id="chartdiv" class="w-full h-96 bg-white"></div>
    </div>
</div>
<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>

<script>
    am5.ready(function() {
        // Создание root элемента
        var root = am5.Root.new("chartdiv");

        // Установка темы
        root.setThemes([
            am5themes_Animated.new(root)
        ]);

        // Создание графика
        var chart = root.container.children.push(am5xy.XYChart.new(root, {
            panX: true,
            panY: true,
            wheelX: "panX",
            wheelY: "zoomX",
            pinchZoomX: true,
            paddingLeft: 20, // Уменьшение ширины графика
            paddingRight: 20
        }));

        // Установка названия графика

        // Добавление курсора
        var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {}));
        cursor.lineY.set("visible", false);
        // Создание осей
        var xRenderer = am5xy.AxisRendererX.new(root, {
            minGridDistance: 30,
            minorGridEnabled: true
        });

        xRenderer.labels.template.setAll({
            rotation: -90,
            centerY: am5.p50,
            centerX: am5.p100,
            paddingRight: 15
        });

        xRenderer.grid.template.setAll({
            location: 1
        })

        var xAxis = chart.xAxes.push(am5xy.CategoryAxis.new(root, {
            maxDeviation: 0.3,
            categoryField: "month",
            renderer: xRenderer,
            tooltip: am5.Tooltip.new(root, {})

        }));

        var yRenderer = am5xy.AxisRendererY.new(root, {
            strokeOpacity: 0.1
        })

        var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
            maxDeviation: 0.3,
            renderer: yRenderer,
            axisIntegersOnly: true,

        }));

        // Создание серии
        var series = chart.series.push(am5xy.ColumnSeries.new(root, {
            name: "Series 1",
            xAxis: xAxis,
            yAxis: yAxis,
            valueYField: "count", // Используем количество заявок для оси Y
            sequencedInterpolation: true,
            categoryXField: "month",
            tooltip: am5.Tooltip.new(root, {
                labelText: "{valueY}"
            })
        }));

        series.columns.template.setAll({ cornerRadiusTL: 5, cornerRadiusTR: 5, strokeOpacity: 0 });
        series.columns.template.adapters.add("fill", function (fill, target) {
            return chart.get("colors").getIndex(series.columns.indexOf(target));
        });

        series.columns.template.adapters.add("stroke", function (stroke, target) {
            return chart.get("colors").getIndex(series.columns.indexOf(target));
        });

        // Получение данных
        var data = {{ data_list|safe }}; // JSON-данные передаются без парсинга

        data.forEach(function(item) {
            if (isNaN(item.count)) {
                console.error('Ошибка: значение count не является числом.');
            }
            item.count = Math.floor(item.count); // Округляем до ближайшего меньшего целого числа
        });
        console.log("Данные для графика:", data);

        // Установка данных для графика
        xAxis.data.setAll(data);
        series.data.setAll(data);

        // Анимация загрузки
        series.appear(1000);
        chart.appear(1000, 100);
    });
</script>


{% endblock %}
