<!-- submit_service_request.html -->
{% extends 'base.html' %}
{% load static %}
{% block main_content %}
  <div class="flex items-center justify-center min-h-screen bg-gray-900">
    <div class="text-white">
      <h1 class="text-3xl mb-4">Заявка успешно отправлена</h1>
      <p>Благодарим вас за использование наших услуг. Мы рассмотрим ваш запрос и свяжемся с вами в ближайшее время.</p>
      <!-- Добавьте дополнительные элементы или стили по необходимости -->
    </div>
  </div>
{% endblock %}
