{% extends 'base.html' %}
{% load static %}
{% block main_content%}
<div class="flex flex-col items-center justify-center min-h-screen bg-gray-900">

 <!-- profile card -->
      <div class="flex flex-col sticky top-0 z-10">
        <div class="bg-gray-800 border border-gray-800 shadow-lg  rounded-2xl p-4">
          <div class="flex-none sm:flex">
            <div class="flex-auto sm:ml-5 justify-evenly">

                <form method="post" enctype="multipart/form-data" class="flex justify-center">
                    <div>
    {% csrf_token %}
    {% if user.photo %}
    <p><img src="{{ user.photo.url }}">
    {% else %}
    <p><img src="{{ default_image }}">
    {% endif %}

    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}} </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
                        <div class="flex pt-4 pb-2 pr-7 justify-center text-sm text-gray-400">
                            <p>
    <button type="submit" class = "flex-no-shrink bg-blue-800 focus:outline-none hover:bg-blue-600 px-8 ml-4 py-3 text-xs shadow-sm hover:shadow-lg font-medium tracking-wider border-0 border-green-300 hover:border-green-500 text-white rounded-full transition ease-in duration-300">Изменить пароль</button>
                            </p>
                        </div>
</div>
                </form>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}
