{% extends 'base.html' %}

{% block main_content%}
<div class="flex flex-col items-center justify-center min-h-screen bg-gray-900">
    <div class="flex flex-col sticky top-0 z-10">
        <div class="bg-gray-800 border border-gray-800 shadow-lg  rounded-2xl p-4">
            <div class="flex-none sm:flex">
                <div class="flex-auto sm:ml-5 justify-evenly">
                    <div class="flex items-center justify-between sm:mt-2">
                        <div class="flex items-center">
                            <div class="flex flex-col text-white text-xl m-5">
                                <h1 class="text-center text-3xl">Восстановление пароля</h1><br>
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}


                                    <p class="flex justify-center mt-14">
                                        <button type="submit" class="flex-no-shrink bg-blue-800 focus:outline-none hover:bg-blue-600 px-8 ml-4 py-3 text-3xs shadow-sm hover:shadow-lg font-medium  border-0 border-green-300 hover:border-green-500 text-white rounded-full transition ease-in duration-300" >Сбросить по E-mail</button>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
