{% extends 'base.html' %}
{% load i18n %}

{% block main_content%}

<div class="flex flex-col items-center justify-center min-h-screen bg-gray-900">
    <div class="flex flex-col sticky top-0 z-10">
        <div class="bg-gray-800 border border-gray-800 shadow-lg  rounded-2xl p-4">
            <div class="flex-none sm:flex">
                <div class="flex-auto sm:ml-5 justify-evenly">
                    <div class="flex items-center justify-between sm:mt-2">
                        <div class="flex items-center">
                            <div class="flex flex-col text-white text-xl m-5">

                                <h1>Сброс пароля</h1>

                                <p>{% translate 'We’ve emailed you instructions for setting your password, if an account
                                    exists with the email you entered. You should receive them shortly.' %}</p>

                                <p>{% translate 'If you don’t receive an email, please make sure you’ve entered the
                                    address you registered with, and check your spam folder.' %}</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
